# Double voting and the birthday problem

<img src="voting.jpg" alt="voting" width="400" align="left"/>

## Introduction

Claims of voter fraud are widespread. Here's one example:

> **“Probably over a million people voted twice 
in [the 2012 presidential] election.”**
>
> Dick Morris, in 2014 on Fox News

Voter fraud can take place in a number of ways, including tampering with voting machines, destroying ballots, and impersonating voters. Today, though, we're going to explore 
**double voting**, which occurs when a single person illegally casts more than one vote in an election.

To start, consider this fact:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970, and 27 pairs had exactly the same birthday.

Were there 27 fraduluent ballots in the 2012 election? Let's find out.

## The birthday problem

<img src="birthday.jpg" alt="voting" width="200" align="left"/>

To begin answering this question, let's solve a similar problem: 

> In a room of 30 people, how likely is it that two people share exactly the same birthday? 
>
> You can assume that every person in the room was born in the same year.

To answer this question, we could use the following **algorithm**, or list of steps needed to solve a problem:
 > 1. We need a room of 30 people, and we need to know their birthdays.
 > 2. We need to check whether two people in that room share a birthday.
 > 3. We need to repeat steps 1 and 2 over and over.
 > 4. We need to figure out how often two or more people shared a birthday.

Unfortunately, we don't have the time (or money!) to recruit a couple thousand experimental subjects to come to Stanford, sit in a big room with 29 other people, and tell us their birthdays.

Instead, we must create a **simulation**, or a computer model that helps us recreate and study real-life phenomena.

## The `sample` command

Here's the first step of our algorithm:

> We need a room of 30 people, and we need to know their birthdays.

How can we simulate 30 people using `R`, a statistical programming language?

### Exercise 1

**A. Think about the output of the cells below, then discuss with your partner what you think `sample` does.**

(Hint: Try re-running the code in each cell a couple times by pressing SHIFT + ENTER, and see what happens!)

In [107]:
sample(1:10, 5, replace = FALSE)

[1] 4 1 7 5 2

In [108]:
sample(1:3, 5, replace = TRUE)

[1] 3 2 1 2 1

In [109]:
sample(1:20, 3, replace = TRUE)

[1]  7 18  7

In [13]:
# Feel free to test more sample commands here.

---

**Tip: To edit text, double click on it!**

Ideas about what `sample` does:
- Idea 1
- Idea 2
- ...

---

**B. Using `sample`, simulate a list of 30 birthdays.**

(Hint: Think about assigning a number to each day in the year.)

In [15]:
# Your code goes here!

# START
sample(1:366, 30, replace = TRUE)
# END

 [1]   5  42 190 282 109 101 266  50  13 149 164 263 288 248 255  59 323  39 268
[20] 126  85  33  49 154 352 298 111 139 300  31

### Finding duplicates

Here's the second step of our algorithm:

> We need to check whether two people in the room share a birthday.

In this exercise, we will learn about two useful tools for finding duplicates.

### Exercise 2

**A. Think about the output of the cells below, then discuss with your partner what you think `has_duplicate` does.**

In [2]:
# Press SHIFT + ENTER to run this cell
# Don't worry about what it's doing for now!

source("duplicate.R")

---
<br>

In [2]:
list_a <- sample(1:3, 5, replace = TRUE)

In [3]:
print(list_a)

[1] 2 3 2 1 2

In [6]:
has_duplicate(list_a)

[1] TRUE

---
<br>

In [7]:
list_b <- sample(1:10, 5, replace = FALSE)

In [8]:
print(list_b)

[1]  5  7  8  1 10

In [9]:
has_duplicate(list_b)

[1] FALSE

---
<br>

In [10]:
list_c <- sample(1:5, 10, replace = TRUE)

In [11]:
print(list_c)

 [1] 5 3 3 4 5 5 2 3 4 2

In [12]:
has_duplicate(list_c)

[1] TRUE

---

Ideas about `has_duplicate`:
- Idea 1
- Idea 2
- ...

---

**B. Generate a list of 30 random birthdays, and determine whether the list has any duplicates. Re-run the code several times to estimate how often the list has duplicates.**

In [16]:
# Your code here!

# START
has_duplicate(sample(1:366, 30, replace = TRUE))
# END

[1] TRUE

Observations:
- Observation 1
- Observation 2
- ...

---

**C. Think about the output of the cells below, then discuss with your partner what you think `num_duplicates` does.**

In [102]:
print(list_a)

[1] 3 2 2 2 1

In [103]:
num_duplicates(list_a)

[1] 2

---
<br>

In [98]:
print(list_b)

[1]  4  5  7 10  3

In [73]:
num_duplicates(list_b)

[1] 0

---
<br>

In [113]:
print(list_c)

 [1] 1 2 5 5 4 5 5 1 3 5

In [114]:
num_duplicates(list_c)

[1] 5

---

Ideas about `num_duplicates`:
- Idea 1
- Idea 2
- ...

---

**D. Think back to the John Smith example:**

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970, and 27 pairs had exactly the same birthday.

**Generate a list of 141 birthdays, and determine how many duplicates are in the list. Re-run the code several times and note any observations.**

In [18]:
# Your code here!

# START
num_duplicates(sample(1:366, 141, replace = TRUE))
# END

[1] 33

Observations:
- Observation 1
- Observation 2
- ...

## Repetition with `for` loops

Here's the third step in our algorithm:

> We need to repeat this process over and over.

The `for` loop lets us do exactly this!

### Exercise 3

**A. Think about the output of the cells below, then discuss with your partner how you think a `for` loop works.**

In [25]:
for (i in 1:10) {
    print("Hello, world!")
}

[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"
[1] "Hello, world!"

In [26]:
for (i in 1:5) {
    print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [111]:
for (i in 1:3) {
    print(sample(1:20, 5, replace = TRUE))
}

[1] 18  9 18 14 15
[1]  3 13  2  9  7
[1]  8  5  1 15  5

<br>

Ideas about `for` loops:
- Idea 1
- Idea 2
- ...

---

**B. Using a `for` loop, print 10 lists of 30 random birthdays**

In [19]:
# Your code here!

# START
for (i in 1:10) {
    print(sample(1:366, 30, replace = TRUE))
}
# END

 [1]  27 216 261 157 352  33  15 175 335 328 139  75 106  82 331  80 236 123 285
[20] 279 216 267 134 344 321 218 288  35 170  81
 [1]  66 151 152 191  85 241  94 314  59 295 221 194  84 208 192 293 215 203 277
[20] 297 355 335 176 267 214  97 207   5 138 351
 [1] 196 133 355 236 124 193 150  30  18  47  66 183 311  88 313  13 137  10 335
[20]  27 339  30 236 132  58 186 195 230 286 146
 [1] 169 180 131 106 249  11 298 196  91 330 197 253  59 234 353 247  26  10  61
[20] 280 157  29 221  25 328 260 218  95 133 153
 [1] 363 321 128 352  14 339 130 147 125 150 222  46  77  74 314 269 161 299 265
[20] 100  42 350 185 218 195 205  32 256 243 219
 [1] 227 140 334 295 163  12   7   1 187  31 346 336  61 192 218 258 179 324  98
[20] 353 104 304  93  81 142 299 131 231  24  37
 [1] 195 324 361 286  14 187 287  48 356 183 248   1   2 203 265  91 236 322 233
[20] 321 233 115  93 259 104 199 240   9 231 275
 [1]  70 130 236  21 283  17 151 172  47 262  24 194 308  66 110 151 291 162 186
[20] 106  89  56  96  95   3 178   8 312 256  13
 [1] 137 166 335 193 115 325 303 244  20 317 123 234 130 212 176 245 303 187 151
[20] 260 268 100 114 235 191 155 132  16 309 342
 [1]  60 254 169  34 211 109  65 336 183 223 279 115 180  29 102  74 233  65 340
[20] 345 149 169 107 176 113 148 106 255 150  36

---

**C. Think about the output of the cell below, and discuss with your partner what you think is going on. You are encouraged to change the numbers and re-run the code a couple times!**

In [21]:
counter <- 0

for (i in 1:5) {
    counter <- counter + 1
    print(counter)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

Ideas:
- Idea 1
- Idea 2
- ...

## Translating our algorithm into code

We're ready to come back to our algorithm:

> 1. We need a room of 30 people, and we need to know their birthdays.
> 2. We need to check whether two people in that room share a birthday.
> 3. We need to repeat this process over and over.
> 4. We need to figure out how frequently two or more people shared a birthday.

Here's our algorithm for finding duplicates, translated into code!

In [59]:
# This is the total number of birthday lists we will generate
n_lists <- 1000

# This is a counter to keep track of how many lists had at least one duplicate birthday
n_lists_with_duplicates <- 0

# Each time we see a list with at least one duplicate, we should increment our counter
for (i in 1:n_lists) {
    
    if (has_duplicate(sample(1:366, 30, replace = TRUE))) {
        
        n_lists_with_duplicates <- n_lists_with_duplicates + 1
    }
    
}

# Fraction of lists with at least one duplicate
n_lists_with_duplicates / n_lists

[1] 0.716

### Exercise 4

**A. Increase the number of birthdays we generate in each list, and re-run the code several times. What happens to the fraction of lists with duplicates?**

Findings:
- Finding 1
- Finding 2
- ...

**B. Change the number of lists to 100, and re-run the code several times. What happens to the results?**

Findings:
- Finding 1
- Finding 2 
- ...

**C. Change the number of lists to 100,000, and re-run the code several times. What happens to the results?**

Findings:
- Finding 1
- Finding 2 
- ...

**D. How many birthdays should be in each list for an approximately 50% chance of a match?**

Findings:
- Finding 1
- Finding 2
- ...

## Circling back to double voting

Remember our original problem:

> In the 2012 election, there were 141 individuals named "John Smith" who were born in 1970, and 27 pairs had exactly the same birthday.

### Challenge exercise

**Modify the simulation code to calculate the average number of birthday matches in 1,000 lists of 141 individuals.**

(Hint: Use `num_duplicates` from earlier and have the counter add up the total number of duplicates in all the generated lists.)

In [20]:
# Your code here!

# START
n_lists <- 1000

# counter to keep track of total duplicates
n_duplicates <- 0

for (i in 1:n_lists) {
    
    # add any duplicates to our counter 
    n_duplicates <- n_duplicates + num_duplicates(sample(1:366, 141, replace = TRUE))
    
}

# find the average number of duplicates across all lists
n_duplicates / n_lists
# END

[1] 23.903